.bg-nav{
     background-color: azure  !important;
}

.registration{
     margin-top: 100px
}

.login{
     margin-top: 100px
}
.view-all-products{
     margin-top: 60px
}

.add-product{
     margin-top: 100px
}
.modal-title{
     color: black;
}
.modal-body{
     color: black;
}
.info-list{
     margin-top:150px;
}

.error{
     color: red;
}